html,
body {
    height: 100%;
    background-color: $secondarycolor
}

.container {
background-color: $secondarycolor;
// padding: 4rem 28rem;
display: flex;
flex-direction: column;
align-items: center;
padding: 4rem;


    .mainContainer {
        background-color: $primarycolor;
        border-top-right-radius: 10px ;
        width: 80%;
        padding: 0;
        justify-content: space-around;

        .leftContainer {
            display: flex;
            justify-content: center;
            padding: 4rem 0;
           
            img {
                width: 40rem;
            }
        }

        .rightContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;

            font-family: "Source Code Pro", monospace;
            flex-basis: 40%;

            h1 {
                margin: 0;
                font-family: "Libre Barcode 128 Text", cursive;
                font-size: 9rem;
                font-weight: lighter;
                text-align: center;
            }

            .idInfo {
                padding: 2rem 28rem;
                display: flex;
                justify-content: space-around;
                span {
                    font-weight: bold;
                }
            }

            .description {
                padding: 4rem 28rem;
                p {
                    margin: 0;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (min-width: 751px) and (max-width: 1600px) {
    .container {
        padding: 4rem 0 ;

        .mainContainer {
            display: flex;
            padding: 0 1rem 4rem 1rem;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 80%;

            .leftContainer {
                padding-top: 4rem;

                img {
                    width: 30rem;
                }
            }

            .rightContainer {
                padding: 0;

                h1 {
                    padding: 2rem;
                    font-size: 6rem;
                }

                .idInfo {
                    padding: 0;
                }

                .description {
                    padding: 0 4rem;

                    p {
                        
                        margin: 0;
                        text-align: left;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 1700px) {
    
}

@media screen and (max-width: 750px) {
    .container {
        padding: 0 ;
        .mainContainer {
            display: flex;
            padding: 0 1rem 4rem 1rem;
            flex-direction: column;
            align-items: center;
            width: 80%;

            .leftContainer {
                padding-top: 4rem;
                width: 20rem;
                img {
                    width: 20rem;
                }
            }

            .rightContainer {
                padding: 0;
                h1 {
                    padding: 2rem;
                    font-size: 5rem;
                }
                .idInfo {
                    padding: 0;
                }
                .description {
                    padding: 1rem;
                    

                    p {
                        margin: 0;
                        text-align: left;
                       
                    }
                }
            }
        }
    }
}
